<card [title]="'היכנס עם חשבונך'" [align]="'center'" *ngIf="!isSignedIn">
  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="onSignin(email.value,pass.value)">
        <mat-form-field>
          <input matInput #email placeholder="Email" value="" name="email">
        </mat-form-field>

        <mat-form-field>
          <input matInput #pass placeholder="Password" value="" id="pass" type="password">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="submit">כניסה</button>
        <a href="#/roadstart-layout/sign-up"><i class="fa fa-bookmark-o"></i> הרשמה</a>
        

      </form>
    </div>
  </div>
  <div class="row" >
    <div class="col-lg-12" *ngIf="accessDenied">
      <alert [color]="'danger'" [outline]="true">
        <mat-icon>error_outline</mat-icon>
        <strong>אינך בעל הרשאות כניסה! אנא פנה למנהל המערכת</strong>
        <span class="span"></span>
        <button mat-mini-fab color="warn" (click)="accessDenied = false">ביטול</button>
      </alert>
    </div>
  </div>
  <div class="row" >
    <div class="col-lg-12" *ngIf="isLockout">
      <alert [color]="'danger'" [outline]="true">
        <mat-icon>error_outline</mat-icon>
        <strong>החשבון שלך מושבת! אנא פנה למנהל המערכת</strong>
        <span class="span"></span>
        <button mat-mini-fab color="warn" (click)="isLockout = false">ביטול</button>
      </alert>
    </div>
  </div>
  <div class="row" >
    <div class="col-lg-12" *ngIf="isRegistered">
      <alert [color]="'danger'" [outline]="true">
        <mat-icon>error_outline</mat-icon>
        <strong>חשבון לא קיים! אנא פנה למנהל המערכת</strong>
        <span class="span"></span>
        <button mat-mini-fab color="warn" (click)="isRegistered = false">ביטול</button>
      </alert>
    </div>
  </div>
</card>

<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>