<!-- Row 1 --- 6 Cards for admin -->
<div class="row" *ngIf="currentUser.role === 'admin'">
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות הצרכנים והמוכרים</div>
      <div class="count">{{countAllUsers}}</div>
    </card>
  </div>
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(255,140,0,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות החנויות</div>
      <div class="count">{{countAllBranches}}</div>
    </card>
  </div>
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(0,191,252,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות קופונים תקפים בחנויות</div>
      <div class="count">{{countAllCoupons}}</div>
    </card>
  </div>

  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-5.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות צרכנים ומוכרים מחוברים</div>
      <div class="count">{{counter}}</div>
    </card>
  </div>
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(255,140,0,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-5.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות חנויות פתוחות</div>
      <div class="count">{{countIsOpenBranches}}</div>
    </card>
  </div>
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(0,191,252,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-6.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות קופונים פגי תוקף</div>
      <div class="count">{{countValidCoupons}}</div>
    </card>
  </div>
</div>

<!-- Row 2 --- 3 Cards for shopManager -->
<div class="row" *ngIf="currentUser.role === 'shopManager'">
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-5.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות חנויות ברשת</div>
      <div class="count">{{countOfBranchesByShopId}}</div>
    </card>
  </div>
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(255,140,0,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-5.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות קופונים שנמכרו היום</div>
      <div class="count">{{quantityCouponsSoldToday}}</div>
    </card>
  </div>
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(0,191,252,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-6.jpg'"
      class="info-card">
      <div class="title text-uppercase">הכנסות מקופונים שנמכרו היום</div>
      <div class="count">{{revenueCouponsSoldToday}}</div>
    </card>
  </div>
</div>

<!-- Row 3 --- Bar and Radar Chart -->
<div class="row">
  <!-- Bar Chart -->
  <div class="col-lg-8">
    <card title="הכנסות לפי רשתות חנויות" *ngIf="currentUser.role === 'admin'">
      <canvas appDesignchart baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </card>
    <card title="הכנסות לפי סניפים" *ngIf="currentUser.role === 'shopManager'">
      <canvas appDesignchart baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </card>
  </div>
  <!-- Radar Chart -->
  <div class="col-lg-4">
    <card title="הכנסות לפי קטיגוריות קופונים">
      <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType"
        [colors]="radarChartColors" width="100%" height="100%"></canvas>
    </card>
  </div>
</div>

<!-- Row 4 --- 2 Table -->
<div class="row">
  <div class="col-lg-6">
    <card title="הזמנות אחרונות">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>תמונת קופון</th>
              <th *ngIf="currentUser.role === 'admin'">שם הרשת</th>
              <th>שם הסניף</th>
              <th>שם הקופון</th>
              <th>מספר הקופון</th>
              <th>מחיר הקופון</th>
              <th>תאריך הרכישה</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coupon of recentPurchases; let i = index;">
              <th scope="row">{{i+1}}</th>
              <td><img mat-list-avatar src="{{ coupon.coupon.profile_Coupon }}" class="avatar" alt=""
                  style="width: 54px;height: 54px;"></td>
              <td *ngIf="currentUser.role === 'admin'">{{coupon.branch.shopName}}</td>
              <td>{{coupon.branch.branchName}}</td>
              <td>{{coupon.coupon.couponName}}</td>
              <td>{{coupon.coupon.id}}</td>
              <td>{{coupon.coupon.newPrice}}</td>
              <td>{{recentPurchasesDate[i] | date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </card>
  </div>

  <div class="col-lg-6">
    <card title="משתמשים חדשים">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>פרופיל משתמש</th>
              <th>שם פרטי</th>
              <th>שם משפחה</th>
              <th>שם משתמש</th>
              <th>עיר</th>
              <th>תפקיד</th>
              <th>טלפון</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of lastUsers; let i = index">
              <th scope="row">{{i+1}}</th>
              <td><img mat-list-avatar src="{{ user.profile_User }}" class="avatar" alt=""
                style="width: 54px;height: 54px;"></td>
              <td>{{ user?.userName?.firstName }}</td>
              <td>{{ user?.userName?.lastName }}</td>
              <td>{{ user?.email }}</td>
              <td>{{ user?.address?.city }}</td>
              <td>{{ Roler(user?.role) }}</td>
              <td>{{ user?.phoneNumber }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </card>
  </div>
</div>