<!-- Row 1 --- 4 Cards -->
<div class="row">
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות הצרכנים והמוכרים</div>
      <div class="count">{{countOfUsers}}</div>
    </card>
  </div>
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(255,140,0,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות החנויות</div>
      <div class="count">{{countOfBranches}}</div>
    </card>
  </div>
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(0,191,252,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות קופונים בחנויות</div>
      <div class="count">{{countCoupons}}</div>
    </card>
  </div>
</div>

<!-- Row 2 --- 3 Cards -->
<div class="row">
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-5.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות צרכנים ומוכרים מחוברים</div>
      <div class="count">{{counter}}</div>
    </card>
  </div>
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(255,140,0,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-5.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות חנויות פתוחות</div>
      <div class="count">{{countIsOpenBranches}}</div>
    </card>
  </div>
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(0,191,252,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-6.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות קופונים פגי תוקף</div>
      <div class="count">{{countValidCoupons}}</div>
    </card>
  </div>
</div>

<!-- Row 3 --- Line Chart -->
<div class="row mb-lg-4">
  <!-- Bar Chart -->
  <div class="col-md">
    <card  class="mb-lg">
        <canvas appDesignchart baseChart [datasets]="barChartData" [labels]="barChartLabels"
            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
    </card>
  </div>
</div>
  
<!-- Row 4 --- 2 Table -->
<div class="row">
  <div class="col-lg-6">
    <card title="הזמנות אחרונות">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>תמונת חנות</th>
              <th>שם חנות</th>
              <th>שם קופון</th>
              <th>מספר קופון</th>
              <th>תאריך רכישה</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coupon of Lastcoupons; let i = index;">
              <th scope="row">{{i+1}}</th>
              <td><img mat-list-avatar src="{{ coupon.pictureName }}" class="avatar" alt="" style="width: 54px;height: 54px;"></td>
              <td>{{coupon.shop.shopName}}</td>
              <td>{{coupon.name}}</td>
              <td>{{coupon.couponCode}}</td>
              <td>{{LastDateCoupons[i] | date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </card>
  </div>

  <div class="col-lg-6">
    <card title="משתמשים חדשים">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>שם פרטי</th>
              <th>שם משפחה</th>
              <th>מייל</th>
              <th>טלפון</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phoneNumber}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </card>
  </div>


</div>
<!-- Row 5 --- Scraping -->
<app-list #list></app-list>