@import '../../../assets/sass/variable';

.details {
    border-top: 1px solid rgba(#000,.2);   
}

:host {
    display: table-cell;
    height: 100%;
    width: 100%;

    .dimensionSrc {
      width: 117px; 
      height: 38.69px;
    }
  }
  
.avatar {
    vertical-align: middle;
    display: inline;
    width: 130px;
    height: 80px;
    border-radius: 10%;
  }

.map-col {
    card {
      height: 100%;
  
  
      ::ng-deep.card-wrap {
        height: 100%;
  
        .card-content {
          height: 100%;
        }
      }
    }
  }
  .map-box {
    height: 100%;
    min-height: 300px;
  }
  