<div class="row mb-lg-4">
  <div class="col-lg-8 ">
    <card [title]="'רשימת חנויות'">
      <mat-list class="branchesCard">
        <mat-list-item *ngFor="let branch of branches; let i = index">
          <img mat-list-avatar src="{{ branch.shop.pictureName }}" class="avatar" alt="">
          <h2 mat-line class="h2">{{ branch.shop.shopName }}</h2>
          <p mat-line class="details">
            <span class="span"><strong>שם חנות: </strong>{{ branch.name }}</span>
            <span class="span"></span>
            <span class="span"><strong>עיר: </strong>{{branch.city}}</span>
            <span class="span"></span>
          </p>
          <button mat-raised-button color="primary" (click)="OnDetails(branch._id)">פרטים</button>
          <span class="span"></span>
          <button mat-raised-button color="accent" (click)="onUpdate(true, branch._id)">עריכה</button>
          <span class="span"></span>
          <button mat-mini-fab color="warn" (click)="onDelete(true, branch._id)"><mat-icon>delete</mat-icon></button>
        </mat-list-item>
      </mat-list>

      <alert *ngIf="deletePressed" [color]="'danger'" [outline]="true">
        <mat-icon>error_outline</mat-icon>
        <strong>האם אתה בטוח שאתה מעוניין למחוק את החנות?</strong>
        <span class="span"></span>
        <button mat-mini-fab color="accent" (click)="onDelete(false, 'Delete stoped')">לא</button>
        <span class="span"></span>
        <button mat-mini-fab color="warn" (click)="onDeleteSubmit()">כן</button>
      </alert>
      <button mat-fab color="primary" (click)="onAdd(true)">
        <mat-icon>add</mat-icon>
      </button>
    </card>
  </div>
  <div class="col-lg-4">
    <card [title]="'הצג חנות'">
      <div class="row branchesCard">
        <div class="col-lg-3">
          <mat-list>
            <mat-list-item *ngFor="let detail of details; let i = index">
              <mat-icon mat-list-avatar>{{detail.icon}}<badge *ngIf="detail.badge" [color]="'danger'"
                  [position]="'top-right'">{{detail.badge}}</badge>
              </mat-icon>
              <h4 mat-line></h4>
              <p mat-line><i></i></p>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="col-lg-9" *ngIf="detailPressed">
          <mat-list>
            <mat-list-item>
              <img mat-line src="{{ branchOnDetails.shop.pictureName }}" class="avatar" alt="">
              <p mat-line><i></i></p>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>{{ branchOnDetails.name }}</h4>
              <p mat-line><i></i></p>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>{{ branchOnDetails.city }}</h4>
              <p mat-line><i></i></p>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>{{ branchOnDetails.address }}</h4>
              <p mat-line><i></i></p>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>{{ branchOnDetails.phoneNumber }}</h4>
              <p mat-line><i></i></p>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>{{ branchOnDetails.stateOpen }}</h4>
              <p mat-line><i></i></p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </card>

  </div>
</div>

<div class="row mb-lg-4" *ngIf="addPressed">
  <div class="col-lg-12">
    <card title="יצירת חנות חדשה">
      <form [formGroup]="form" *ngIf="addPressed" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <mat-select placeholder="בחר רשת חנויות" [formControl]="form.controls['shop']">
                <mat-option *ngFor="let branch of branches; let i = index" [value]="branch.shop">
                  {{branch.shop.shopName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls['shop'].hasError('required') && form.controls['shop'].touched">
                הינך נדרש לבחור רשת חנויות.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="שם הסניף" [formControl]="form.controls['name']" type="text">
              <mat-error *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">
                הינך נדרש לתת שם לסניף.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="עיר" [formControl]="form.controls['city']" type="text">
              <mat-error *ngIf="form.controls['city'].hasError('required') && form.controls['city'].touched">
                הינך נדרש לתת שם העיר שבה נמצא הסניף.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="כתובת" [formControl]="form.controls['address']" type="text">
              <mat-error *ngIf="form.controls['address'].hasError('required') && form.controls['address'].touched">
                הינך נדרש לתת את כתובת הסניף.
              </mat-error>
            </mat-form-field>
          </div>


          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="טלפון הסניף" [formControl]="form.controls['phoneNumber']" type="text">
              <mat-error
                *ngIf="form.controls['phoneNumber'].hasError('required') && form.controls['phoneNumber'].touched">
                הינך נדרש להכניס מספר טלפון של הסניף.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="קו רוחב" [formControl]="form.controls['lat']" type="number">
              <mat-error *ngIf="form.controls['lat'].hasError('required') && form.controls['lat'].touched">
                הינך נדרש להכניס מיקום לסניף.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="קו אורך" [formControl]="form.controls['long']" type="number">
              <mat-error *ngIf="form.controls['long'].hasError('required') && form.controls['long'].touched">
                הינך נדרש להכניס מיקום לסניף.
              </mat-error>
            </mat-form-field>
          </div>
          
        </div>
        <div class="row">
          <button mat-raised-button color="accent" [disabled]="!form.valid">יצירת חנות</button>
          <span class="span"></span>
        <button mat-mini-fab color="primary" (click)="onAdd(false)">
          <mat-icon>keyboard_return</mat-icon>
        </button>
        </div>
      </form>
    </card>
  </div>
</div>

<div class="row mb-lg-4" *ngIf="updatePressed">
  <div class="col-lg-12">
    <card title="עריכת נתוני חנות">
      <form [formGroup]="updateForm" *ngIf="updatePressed" (ngSubmit)="onUpdateSubmit()">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <mat-select placeholder="בחר רשת חנויות" [formControl]="updateForm.controls['shop']">
                <mat-option [value]="updateBranch.shop">
                  {{updateBranch.shop.shopName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="עדכון שם הסניף" [formControl]="updateForm.controls['name']" type="text">
              <mat-error *ngIf="updateForm.controls['name'].hasError('required') && updateForm.controls['name'].touched">
                הינך נדרש לתת שם לסניף.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="עדכון שם העיר" [formControl]="updateForm.controls['city']" type="text">
              <mat-error *ngIf="updateForm.controls['city'].hasError('required') && updateForm.controls['city'].touched">
                הינך נדרש לתת שם העיר שבה נמצא הסניף.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="עדכון הכתובת" [formControl]="updateForm.controls['address']" type="text">
              <mat-error *ngIf="updateForm.controls['address'].hasError('required') && updateForm.controls['address'].touched">
                הינך נדרש לתת את כתובת הסניף.
              </mat-error>
            </mat-form-field>
          </div>


          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="עדכון מספר טלפון הסניף" [formControl]="updateForm.controls['phoneNumber']" type="text">
              <mat-error
                *ngIf="updateForm.controls['phoneNumber'].hasError('required') && updateForm.controls['phoneNumber'].touched">
                הינך נדרש להכניס מספר טלפון של הסניף.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="עדכון קו רוחב" [formControl]="updateForm.controls['lat']" type="number">
              <mat-error *ngIf="updateForm.controls['lat'].hasError('required') && updateForm.controls['lat'].touched">
                הינך נדרש להכניס מיקום לסניף.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="עדכון קו אורך" [formControl]="updateForm.controls['long']" type="number">
              <mat-error *ngIf="updateForm.controls['long'].hasError('required') && updateForm.controls['long'].touched">
                הינך נדרש להכניס מיקום לסניף.
              </mat-error>
            </mat-form-field>
          </div>
          
        </div>
        <div class="row">
          <button mat-raised-button color="accent" [disabled]="!updateForm.valid">עדכון פרטי חנות</button>
          <span class="span"></span>
        <button mat-mini-fab color="primary" (click)="onUpdate(false, 'Update stoped')">
          <mat-icon>keyboard_return</mat-icon>
        </button>
        </div>
      </form>
    </card>
  </div>
</div>