<div *ngIf="isAddPhoto==false">
 <div class="row mb-lg-4">
  <div class="col-lg-8 ">
    <card [title]="'רשימת סניפים'">
      <alert *ngIf="deletePressed && canDeleteFlag" [color]="'danger'" [outline]="true">
        <mat-icon>error_outline</mat-icon>
        <strong>האם אתה בטוח שאתה מעוניין למחוק את הסניף?</strong>
        <span class="span"></span>
        <button mat-mini-fab color="accent" (click)="onDelete(false, 'Delete stoped')">לא</button>
        <span class="span"></span>
        <button mat-mini-fab color="warn" (click)="onDeleteSubmit()">כן</button>
      </alert>
      <alert *ngIf="deletePressed && !canDeleteFlag" [color]="'danger'" [outline]="true">
        <mat-icon>error_outline</mat-icon>
        <strong>אינך מורשה למחוק סניף שכולל מוכרים אקטיביים !</strong>
        <span class="span"></span>
        <button mat-mini-fab color="warn" (click)="onDelete(false, 'Delete stoped')">ביטול</button>
      </alert>
      <mat-list class="branchesCard">
        <mat-list-item *ngFor="let branch of branches; let i = index">
          <img mat-list-avatar src="{{ branch.profile_Branch }}" class="avatar" alt="">
          <h2 mat-line class="h2">{{ branch.shop.shopName }}</h2>
          <p mat-line class="details">
            <span class="span"><strong>שם סניף: </strong>{{ branch.branchName }}</span>
            <span class="span"></span>
            <span class="span"><strong>עיר: </strong>{{ branch.address.city }}</span>
            <span class="span"></span>
            <span class="span"><strong>כמות מוכרים אקטיביים: </strong>{{ branch.sellers.length }}</span>
            <span class="span"></span>
          </p>
          <button mat-raised-button color="primary" (click)="OnDetails(branch.id)">פרטים</button>
          <span class="span"></span>
          <button mat-raised-button color="accent" (click)="onUpdate(true, branch.id)">עריכה</button>
          <span class="span"></span>
          <button mat-mini-fab color="warn" (click)="onDelete(true, branch.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
      <button mat-fab color="primary" (click)="onAdd(true)">
        <mat-icon>add</mat-icon>
      </button>
    </card>
  </div>
  <div class="col-lg-4">
    <card [title]="'הצג סניף'">
      <div class="row branchesCard">
        <div class="col-lg-3">
          <mat-list>
            <mat-list-item *ngFor="let detail of details; let i = index">
              <mat-icon mat-list-avatar>{{detail.icon}}<badge *ngIf="detail.badge" [color]="'danger'"
                  [position]="'top-right'">{{detail.badge}}</badge>
              </mat-icon>
              <h4 mat-line></h4>
              <p mat-line><i></i></p>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="col-lg-9" *ngIf="detailPressed">
          <mat-list>
            <mat-list-item>
              <img mat-line src="{{ branchOnDetails.profile_Branch }}" class="avatar" alt="">
              <p mat-line><i></i></p>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>{{ branchOnDetails.branchName }}</h4>
              <p mat-line><i></i></p>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>{{ branchOnDetails.address.city }}</h4>
              <p mat-line><i></i></p>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>{{ branchOnDetails.address.street }}</h4>
              <p mat-line><i></i></p>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>{{ branchOnDetails.phoneNumber }}</h4>
              <p mat-line><i></i></p>
            </mat-list-item>
            <mat-list-item>
              <h4 mat-line>{{ branchOnDetails.stateOpen }}</h4>
              <p mat-line><i></i></p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </card>

  </div>
</div>

<div class="row mb-lg-4" *ngIf="addPressed">
  <div class="col-lg-12">
    <card title="יצירת סניף חדש">
      <form [formGroup]="form" *ngIf="addPressed" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <mat-select placeholder="בחר רשת סניפים" formControlName="shop" (selectionChange)="handleSelect($event)">
                <mat-option *ngFor="let shop of shopClass; let i = index" [value]="shop">
                  {{ shop.shopName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="שם הסניף" [formControl]="form.controls['branchName']" type="text">
              <mat-error
                *ngIf="form.controls['branchName'].hasError('required') && form.controls['branchName'].touched">
                הינך נדרש לתת שם לסניף.
              </mat-error>
            </mat-form-field>
          </div>
         
          <div class="row mb-lg" formGroupName="address">
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="עיר" formControlName="city" type="text">
                <mat-error
                  *ngIf="form.controls.address.controls['city'].hasError('required') && form.controls.address.controls['city'].touched">
                  הינך נדרש לתת שם לעיר.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="מיקום" formControlName="street" type="text">
                <mat-error
                  *ngIf="form.controls.address.controls['street'].hasError('required') && form.controls.address.controls['street'].touched">
                  הינך נדרש לבחור מיקום.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="מדינה" formControlName="country" type="text">
                <mat-error
                  *ngIf="form.controls.address.controls['country'].hasError('required') && form.controls.address.controls['country'].touched">
                  הינך נדרש לתת שם למדינה.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="טלפון הסניף" [formControl]="form.controls['phoneNumber']" type="text">
              <mat-error
                *ngIf="form.controls['phoneNumber'].hasError('required') && form.controls['phoneNumber'].touched">
                הינך נדרש להכניס מספר טלפון של הסניף.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="קו רוחב" [formControl]="form.controls['lat']" type="number">
              <mat-error *ngIf="form.controls['lat'].hasError('required') && form.controls['lat'].touched">
                הינך נדרש להכניס מיקום לסניף.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="קו אורך" [formControl]="form.controls['long']" type="number">
              <mat-error *ngIf="form.controls['long'].hasError('required') && form.controls['long'].touched">
                הינך נדרש להכניס מיקום לסניף.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <br>
            <button class="btn" (click)="isAddPhoto=true" style="color:#43509b;font-weight:600">תמונת פרופיל הסניף</button>
          </div>
        </div>
        <div class="row">
          <button mat-raised-button color="accent" [disabled]="!AddedPhoto">יצירת סניף</button>
          <span class="span"></span>
          <button mat-mini-fab type="button" color="primary" (click)="onAdd(false)">
            <mat-icon>keyboard_return</mat-icon>
          </button>
        </div>
      </form>
    </card>
  </div>
</div>

<div class="row mb-lg-4" *ngIf="updatePressed">
  <div class="col-lg-12">
    <card title="עריכת נתוני סניף">
      <form [formGroup]="updateForm" *ngIf="updatePressed" (ngSubmit)="onUpdateSubmit()">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="שם הסניף" [formControl]="updateForm.controls['branchName']" type="text">
              <mat-error
                *ngIf="updateForm.controls['branchName'].hasError('required') && updateForm.controls['branchName'].touched">
                הינך נדרש לתת שם לסניף.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <button class="btn" (click)="isAddPhoto=true" style="color:#43509b;font-weight:600">תמונת פרופיל הסניף</button>
          </div>
          <div class="row mb-lg" formGroupName="address">
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="עיר" formControlName="city" type="text">
                <mat-error
                  *ngIf="updateForm.controls.address.controls['city'].hasError('required') && updateForm.controls.address.controls['city'].touched">
                  הינך נדרש לתת שם לעיר.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="מיקום" formControlName="street" type="text">
                <mat-error
                  *ngIf="updateForm.controls.address.controls['street'].hasError('required') && updateBranch.controls.address.controls['street'].touched">
                  הינך נדרש לבחור מיקום.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="מדינה" formControlName="country" type="text">
                <mat-error
                  *ngIf="updateForm.controls.address.controls['country'].hasError('required') && updateForm.controls.address.controls['country'].touched">
                  הינך נדרש לתת שם למדינה.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="טלפון הסניף" [formControl]="updateForm.controls['phoneNumber']" type="text">
              <mat-error
                *ngIf="updateForm.controls['phoneNumber'].hasError('required') && updateForm.controls['phoneNumber'].touched">
                הינך נדרש להכניס מספר טלפון של הסניף.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="קו רוחב" [formControl]="updateForm.controls['lat']" type="number">
              <mat-error *ngIf="updateForm.controls['lat'].hasError('required') && updateForm.controls['lat'].touched">
                הינך נדרש להכניס מיקום לסניף.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="קו אורך" [formControl]="updateForm.controls['long']" type="number">
              <mat-error
                *ngIf="updateForm.controls['long'].hasError('required') && updateForm.controls['long'].touched">
                הינך נדרש להכניס מיקום לסניף.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <label>הסניף פתוח?</label>
            <mat-radio-group [formControl]="updateForm.controls['isOpen']">
              <mat-radio-button [value]="true">כן</mat-radio-button>
              <mat-radio-button [value]="false">לא</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="!updateForm.controls['isOpen'].valid && updateForm.controls['isOpen'].touched">
              אתה נדרש לבחור אם הסניף פתוח או לא.
            </mat-error>
          </div>
        </div>
        <div class="row">
          <button mat-raised-button color="accent" [disabled]="!UpdatedPhoto">עדכון פרטי סניף</button>
          <span class="span"></span>
          <button mat-mini-fab type="button" color="primary" (click)="onUpdate(false, 'Update stoped')">
            <mat-icon>keyboard_return</mat-icon>
          </button>
        </div>
      </form>
    </card>
  </div>
</div>
</div>
<div *ngIf="isAddPhoto" class="center">
  <h3 >Upload Your Profile Image </h3>
  <div class="dropzone" 
           dropzone
           (hovered)="toggleHover($event)"
           (dropped)="onDrop($event)"
           [class.hovering]="isHovering" style=" height: 300px;
           width: 450px;">
      
      
           <h3>Profile Image</h3>
           <p>Drag and Drop a File</p>
      </div>
      
      
      
      <div *ngFor="let file of files">
        <upload-task [file]="file"></upload-task>
      </div>
      <br><br>
      <div style="width:450px;">
          <div style="float: left; width: 130px"> 
            
                  <button  class="btn" (click)="onPhotoSubmit()" style="color:#43509b;font-weight:600">Submit</button>
              
          </div>
          <div style="float: right; width: 225px"> 
              
                  <button  class="btn" (click)="isAddPhoto=false" style="color:#c02830;font-weight:600">Cancel</button>
           
          </div>
      </div>
     
      <br>
      
</div>