@import '../../../../assets/sass/variable';
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}
.Row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}
.Column {
  display: table-cell;
}
:host {
  background: url(../../../../assets/content/signup-bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;

  card {
    margin: 0 auto;
    max-width: 400px;

    ::ng-deep .card-wrap {
      border: 0;
    }
    form {
      button {
        width: 100%;
      }
      .additional-info {
        background: rgba(#000,.1);
        margin: $module (-$module) (-$module);
        padding: $module/2 $module;
      }
    }
  }
}
