@import '../../../assets/sass/variable';

.details {
    border-top: 1px solid rgba(#000,.2);   
}

:host {
    display: table-cell;
    height: 100%;
    width: 100%;

    .dimensionSrc {
      width: 117px; 
      height: 38.69px;
    }
  }
  
.avatar {
    vertical-align: middle;
    display: inline;
    width: 130px;
    height: 80px;
    border-radius: 10%;
  }

.ngx-charts {
    display: block;
}