.span {
    margin: 0 6px;
  }

.height-Coupon-Sale-Card {
  min-height: 260px;
  .card-wrap{
    min-height: inherit;
  }
} 

.height-ngx-charts-Sale-Card {
  min-height: 450px;
  .card-wrap{
    min-height: inherit;
    width: inherit;
  }
}