<!-- Row 1 --- Branches map -->
<div class="row mapHeight">
    <div class="col-lg map-col mb-4 mb-lg-0">
        <card [title]="'מפת חנויות'">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="10">
                <agm-marker *ngFor="let branch of branches; let i = index" [latitude]="branch.lat"
                    [longitude]="branch.long" (dragEnd)="markerDragEnd(m, $event)">
                    <agm-info-window>
                        חנות: {{branch.shop.shopName}}<br />
                        שם: {{branch.branchName}}<br />
                        עיר: {{branch.address.city}}<br />
                        כתובת: {{branch.address.street}}<br />
                        טלפון: {{branch.phoneNumber}}<br />
                        סטאטוס: {{branch.stateOpen}}
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </card>
    </div>
    <div class="col-lg">
        <card [title]="'חיפוש'">
            <mat-form-field>
                <mat-select placeholder="בחר רשת חנויות" [(ngModel)]="selectedShop">
                    <mat-option [value]="0">None</mat-option>
                    <mat-option *ngFor="let shop of shops; let i = index" [value]="shop.shopName">
                        {{ shop.shopName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="בחר עיר" [(ngModel)]="selectedCity">
                    <mat-option [value]="0">None</mat-option>
                    <mat-option *ngFor="let branch of branches; let i = index" [value]="branch.address.city">
                        {{branch.address.city}}
                    </mat-option>
                </mat-select>
               
            </mat-form-field>
            <div class="mb-4">
                <p>
                    <mat-slide-toggle color="accent" (checked)="selectedOpen" [(ngModel)]="selectedOpen">
                        החנות פתוחה
                    </mat-slide-toggle>
                  </p>
            </div>
            <button mat-raised-button color="primary" (click)="onSearch(selectedShop)">חיפוש מתקדם</button>
             <span class="span"></span> 
            <button mat-raised-button color="accent" (click)="onStopSearch(selectedShop)">סגור חיפוש</button>
            <br /><br />         
            <div class="table-responsive" *ngIf="pageTitle">
                <table class="table">
                    <thead>
                        <tr class="table-warning">
                            <th>#</th>
                            <th>שם החנות</th>
                            <th>פרופיל הסניף</th>
                            <th>שם הסניף</th>
                            <th>עיר</th>
                            <th>כתובת</th>
                            <th>טלפון</th>
                            <th>האם פתוח?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let currentBranch of currentSearchBranches; let i = index;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{currentBranch.shop.shopName}}</td>
                            <td><img [src]="currentBranch.profile_Branch" class="dimensionSrc"/></td>
                            <td>{{currentBranch.branchName}}</td>
                            <td>{{currentBranch.address.city}}</td>
                            <td>{{currentBranch.address.street}}</td>
                            <td>{{currentBranch.phoneNumber}}</td>
                            <td>{{currentBranch.stateOpen}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </card>
    </div>
</div>
<span class="apan"></span>
<!-- Row 2 --- Branches table -->
<div class="row rowMargin" >
    <div class="col-lg">
        <card title="רשימת החנויות והסניפים" class="mb-0">

            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr class="table-warning">
                            <th>#</th>
                            <th>שם החנות</th>
                            <th>פרופיל הסניף</th>
                            <th>שם הסניף</th>
                            <th>עיר</th>
                            <th>כתובת</th>
                            <th>טלפון</th>
                            <th>האם פתוח?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let branch of branches; let i = index;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{branch.shop.shopName}}</td>
                            <td><img [src]="branch.profile_Branch" class="dimensionSrc"/></td>
                            <td>{{branch.branchName}}</td>
                            <td>{{branch.address.city}}</td>
                            <td>{{branch.address.street}}</td>
                            <td>{{branch.phoneNumber}}</td>
                            <td>{{branch.stateOpen}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </card>
    </div>
</div>